[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
[submodule "meta-widde"]
	path = meta-widde
	url = https://github.com/urnenfeld/meta-widde.git
[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky.git
[submodule "meta-intel-iot-middleware"]
	path = meta-intel-iot-middleware
	url = git://git.yoctoproject.org/meta-intel-iot-middleware
